<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>servlettutorialy-01</display-name>
  
  <servlet>
  <servlet-name>first</servlet-name>
  <servlet-class>com.servlet.firstprogrm</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>
  			first
  </servlet-name>
  <url-pattern>/app</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>progrm_02</servlet-name>
  <servlet-class>com.servlet.progrm_02</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>
  			progrm_02
  </servlet-name>
  <url-pattern>/app2</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>program_03</servlet-name>
  <servlet-class>com.servlet.program_03</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>
  			program_03
  </servlet-name>
  <url-pattern>/app3</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>